[2019-01-01 18:40] MariuszPodlasie opened #1 "Font size"
Great mod. Respect for you for it. However, I have a proposal to change the size of the font to a larger (more readable) and to change the position of one window, because after changing the size of the font, it is not fully visible.
I pictured this on the attached screen.
I am sorry if my request contains language errors, I do not write in English best.
![bez tytulu2](https://user-images.githubuse

[2019-01-01 20:11] ZhooL commented on #1
Thanks for your feedback. I never thought anyone would modify the fontSize value ;-) Let me think about re-arranging some elements to reduce the bottom info block to one text line only.

[2019-01-02 09:53] xCrazyDogx opened #2 "Possibility to change / turn on-off some hud positions?"
Hello,

I love the mod, it gives info that default giants does not and therefor I like this mod. Mainly the damage on attached tools is very good and pleasant.

I use keyboardsteer mod for the snap option (steerlock) and that one has worldglobalposition plus if activated the snapangle on the  bottom right above the gauges.
So basically this mod and keyboardsteer overlap each other making some info

[2019-01-02 16:27] dlehman83 commented on #1
+1 for this, I too modified the font size and now cannot see the weight.  The default font was just too small for my monitor.  Perhaps make it an option to change font size in game.
Thanks,

[2019-01-02 19:34] ZhooL commented on #2
Thanks for the feedback. The keyboardSteer overlap is resolved with version 1.4.0.0 (press "KeyPad /" to reset positions).
Regarding the tractor symbol - I never noticed it can be moved down there. Right now I will leave my output there. Maybe some day I have an idea where to put it :-)

[2019-01-02 19:43] xCrazyDogx commented on #2
wow thank you very much, the tractor symbol : not a big issue ;) Again thank you ZhooL also for taking it so well.

Happy New Year

[2019-01-02 22:32] Landykid opened #3 "4x4/2wd doesn't seem to be working"
when you pin the tractor against a wall no matter whether it is in 4 wheel drive or two wheel drive the front axle still operates.

[2019-01-02 22:49] Landykid commented on #3
using the command GSVehicleDebugPhysics confirmed my suspicions it is definitely not working probably already known but just thought I would put it in here.

[2019-01-02 23:11] ZhooL commented on #3
Yes I know... in 2WD mode I still put 10% force on the front axle. Otherwise some vehicles have some very strange behavior of "jumping" around cause the engine is too stupid again. If the front wheels are still turning forwards and you want to drive backwards with power on the rear axle the "forward-force" of the idle front axle is stronger than the power on the rear axle causing the vehicle to be

[2019-01-02 23:12] ZhooL opened #4 "HUD elements are "off" on non 16:9 screen resolutions"

[2019-01-02 23:13] ZhooL commented on #2
You can change positions of the HUD elements in the modsSettings\TSX_EnhancedVehicle\TSX_EnhancedVehicle.xml also.

[2019-01-02 23:13] #2 closed, assigned to ZhooL

[2019-01-02 23:26] Landykid commented on #3
interesting thank you for getting I am no expert but could reduce the friction on the front axle help with the issue. it is probably something new but maybe even look at how a drive control did it in that fs17

[2019-01-03 08:40] MariuszPodlasie commented on #1
The version v1.4.0.0 is really great. Introducing an XML file was what it lacked. I am impressed by your work. Finally, it looks like it looks like on the attached screen. I have modified only the font size for your needs to 0.0145 (do not hold it against me). The default size was too small on the big screen.
Best wishes and Happy New Year  ;)
![fsscreen_2019_01_03_09_19_59](https://user-images.gi

[2019-01-03 11:16] ZhooL commented on #4
fixed in 1.4.1.0

[2019-01-03 11:16] #4 closed, assigned to ZhooL

[2019-01-03 11:17] ZhooL commented on #1
You're welcome :-)

[2019-01-03 11:17] #1 closed, assigned to ZhooL

[2019-01-06 11:31] Harag9 opened #5 "Request: Display Toggle"
Just downloaded the mod and used it for about 10 minutes, loving the rpm / temp display as I also use the keyboard steer mod but the display at the top isn't needed all the time and clutters up the screen. Would it be possible to add in a display toggle maybe on the "keypad *" key and move the current keypad * to ctrl+keypad *

but please leave the rmp/temp displays in the dial!

[2019-01-06 11:32] Harag9 opened #6 "Fuel consumption?"
Now I don't have or own a 4WD vehicle so not sure about this, but to me wouldn't a 4WD use more fuel - so when in 4WD mode fuel consumption should increase?

[2019-01-06 13:14] ZhooL commented on #6
Maybe but I don't plan to implement that feature

[2019-01-06 13:14] #6 closed, assigned to ZhooL

[2019-01-06 13:15] ZhooL commented on #5
press "keypad /" to adjust positions if keyboardSteer is in use. you may change all key bindings in the keybindings options menu

[2019-01-06 13:15] #5 closed, assigned to ZhooL

[2019-01-06 15:02] Harag9 commented on #5
The display is above the keyboardsteer - what I mean is a toggle to HIDE the information when not needed... But I've been using it a while now and got use to it being displayed constantly.

[2019-01-06 19:21] xCrazyDogx opened #7 "Instead of a word in dmg (dutch) it gives a full sentence for the truck"
The screen says it all to be honest when I am in a truck (also visible at the top of the screen), it says with the dmg part (in the red lined box) that a truck can connect to a trailer, all other equipment it says a general name like tractor or trailer or harvester. Not with the truck not sure where it comes from or how to adjust it at this time.
Also not sure if it is cause i use Dutch language (

[2019-01-06 20:13] xCrazyDogx commented on #7
Closing cause i do not think it can be solved since it happens on modded trucks, not on ingame truck or edits from that. So i assume problem lays in the truckmods i noticed it on.

[2019-01-06 20:13] #7 closed, assigned to ZhooL

[2019-01-06 22:09] ZhooL commented on #7
Unfortunately you're right. I'm just using the "typeDesc" variable and it's set by the vehicle modder.

And I like Dutch :-) I was born near the Netherlands border so I can read and understand most of Dutch.

[2019-01-06 22:32] xCrazyDogx commented on #7
do you happen to know where typedesc is set? maybe i can fix it myself in the mod, i am asking at a time im doubting to know for sure where it is
think i found it, testing now, it doesnt use typedesc in the mod but function, change it to typedesc from example that does work

Ok that did the trick, changing from
<typeDesc>$l10n_function_truck</typeDesc>
to
<typeDesc>$l10n_typeDesc_truck</typeDesc>

[2019-01-06 22:36] PitbullSpirit commented on #7
think i found it, testing now, it doesnt use typedesc in the mod but function, change it to typedesc from example that does work

[2019-01-09 02:13] spocane opened #8 "Request: Add Forward/Reverse Direction Key Bindings"
Love your mod, the replacement to drive control i needed! now with the update of shuttle shift, i am wanting to have Two more keybindings for both Forwards and Reverse (doesn't need to be configured by default).

It would also be great to have a parking brake feature, I know that you dont really need one, but it adds to the immersion.

Thanks for the effort you are putting into this. I think it is

[2019-01-09 02:39] knuuud opened #9 "Shuttle functions clash with KeyboardSteer"
as modders that work the same area does not seem to speak with eachother and make the same functions, these seem to clash up. When your mod goes in to do the same as the shuttle control on Mogli12's KeyboardSteer, these two seem to do  doublecommands. Are you able to make it so your shuttle function are not active if Mogli's are?

[2019-01-09 07:20] ZhooL commented on #9
I know it's conflicting. I'll check later if I can do something about this issue.

[2019-01-09 07:21] ZhooL commented on #3
There's nothing more I can/will do about the behavior of 4wd/2wd so I will close this issue.

[2019-01-09 07:21] #3 closed, assigned to ZhooL

[2019-01-09 08:07] knuuud commented on #9
A check and disable should suffice, but you need to put the check to if his mod has it active. If you only put the check to if his mod is ingame you may loose some users of your shuttle that wants to use both your mods, but your shuttle functions. I guess he should also put a similar check in his mod the other way around to avoid conflict the other way as well.

[2019-01-09 08:49] ZhooL commented on #9
As told I've to check. It's easy to detect if another Mod is loaded (g_modIsLoaded.FS19_KeyboardSteer) but it might be not possible to dive deeper into that foreign mod and access its variables to find out if shuttle is enabled there.

[2019-01-09 09:11] xCrazyDogx opened #10 "XML resets on launch game"
Hi ZhooL,

I am using version 1.5.0.0 so with added shuttle control.
Problem I have is my XML gets reset on launch.
So I can change /adjust in XML (under folder modssettings/TSX_EnhancedVehicle) but on launch it goes to default values.
Also trying to adjust file while ingame then presse keypad * but that didnt do anything either and closed game it still goes back to default, my settings wont stick

[2019-01-09 09:17] ZhooL commented on #10
Which XML file did you edit ? There might be an old outdated file named TSX_EnhancedVehicle.xml and the new, current one named TSX_EnhancedVehicle_v1.xml. The first file can be deleted, changes to the second one should make it into the game. But I'll check again later today.

[2019-01-09 09:20] xCrazyDogx commented on #10
TSX_EnhancedVehicle_v1.xml
I even deleted the file so game/mod creates it again reinstalled FS19, ok i keep it short, i only didnt do reinstall PC, everything else I tried.

Also offtopic showing in log iforgot to mention it dont think it is a big issue.
Warning (performance): Raw audio format D:/Steam Savegames/My Games/FarmingSimulator2019/mods/TSX_EnhancedVehicle/diff_lock.wav.

Anyways thx for

[2019-01-09 09:29] ZhooL commented on #10
Yeah I'm on work right now ;-) But I'll check today evening. The audio warning is already known and will be fixed soon.

[2019-01-09 18:20] ZhooL commented on #10
fixed in 1.5.0.2

[2019-01-09 18:20] #10 closed, assigned to ZhooL

[2019-01-09 19:07] xCrazyDogx commented on #10
Thx working perfect on my end now when it comes to XML settings saving.

Except the keypad * doesnt seem to work, even if I bind it to other key it does not reload XML.

[2019-01-09 19:09] vorden44 commented on #8
Yes for those of us who use an H-shifter to control forward and reverse, having separate keybindings for each is much appreciated :)

[2019-01-09 20:21] ZhooL commented on #8
in version 1.5.1.0

[2019-01-09 20:21] #8 closed, assigned to ZhooL

[2019-01-09 20:31] ZhooL commented on #10
Hmm can't reproduce your issue. I'm in game, change something in the XML from true to false, press "keypad *" back in game and the affected HUD element disappears.

[2019-01-09 21:41] spocane commented on #8
Excellently implemented. Thank You for doing so quickly.

[2019-01-10 08:41] knuuud opened #11 "Reversing lights not working"
Just as the title said, the reversing lights does not activate until you change forward again, and than only for a brief second.

The rest seems very good on the shuttle

[2019-01-10 08:48] knuuud opened #12 "Jenz BA 725 D"
Found a issue with the Jenz BA 725 D. When a tractor is connected to it the shuttle control and other functions on tractors are not working. Once disconnected than the controlls works perfect again. Might be because it is driveable?

No log errors, so to reproduse you will have to test yourself.

My used config:
Fendt Favorit 515C
Jenz BA 725 D

Issue appears on other tractors with the Jenz BA 725

[2019-01-10 09:56] knuuud opened #13 "Some trucks only spin"
when using shuttle some of the trucks ingame spin and is not responding correct. Not tested all vehicles but trucks are affected

[2019-01-10 18:13] ZhooL commented on #13
I can't reproduce. Tested with some trucks now and they behave normal. With and without attached trailers or whatever.

[2019-01-10 18:22] spocane commented on #11
Can Confirm this as well. Same thing happens with the reversing alarm.

[2019-01-10 18:52] spocane opened #14 "Enhancement : Add sounds for Shuttle Shifting"
Enhancement : Add sounds for
Shuttle Shifting (Clunk or mild grinding)
Parking Brake (air sound)

[2019-01-10 19:20] ZhooL commented on #12
fixed in 1.5.1.1

[2019-01-10 19:20] #12 closed, assigned to ZhooL

[2019-01-10 19:28] knuuud commented on #13
Hmm I did another test. In SP it works fine, while in MP you get the spin when changing. I will see if I can do a screencap for you. The server log and my local log has no warnings or errors. Can it be some kind of sync issue, only it does not show on tractors as they have grip setup another way?

[2019-01-10 19:29] ZhooL commented on #9
I force deactivation of shuttle function from keyboardSteer if detected. But this will brake the reverse looking cam as well. Can't do more right now.

[2019-01-10 19:29] #9 closed, assigned to ZhooL

[2019-01-10 19:44] ZhooL commented on #11
Well this is kind of a point of view. In shuttle you're not driving backwards - you're driving forwards in the opposite direction and so no reverse driving lights are required. That's at least what the engine does. The vehicle moves forwards and only the reverser unit in the gearbox changes the actual moving direction.
But lemme check what I can do about the lights...

[2019-01-10 20:22] ZhooL commented on #11
a bit better in 1.5.1.1 but I can't get the beep beep sound working correctly

[2019-01-10 20:22] #11 closed, assigned to ZhooL

[2019-01-10 21:33] ZhooL commented on #14
in 1.5.1.1

[2019-01-10 21:33] #14 closed, assigned to ZhooL

[2019-01-11 04:31] knuuud commented on #13
Can be closed. This has been fixed in last update it appears. 👍

[2019-01-11 04:32] #13 closed, assigned to ZhooL

[2019-01-11 13:53] hoefti10 opened #15 "Shuttlefunktion"
Moin, zuerst möchte ich dir für den tollen Mod danken.
Wirklich sehr hilfreich und gut gemacht. Allerdings ist mir in der neuen Version aufgefallen das scheinbar die Shuttlefunktion von Keyboardsteer geforced (überschrieben)wird was ich sehr schade finde.
Ich habe bisland die Shuttlefunktion von Keyboardsteer genutzt das mir die Kameradrehung gut gefallen hat. Jetzt steck ich in der Klemme.
Kann m

[2019-01-11 14:18] sootysax commented on #15
since it looks like Mogli has quit modding for FS (again), i think i will replace keyboard steer with this mod entirely

[2019-01-11 15:30] hoefti10 commented on #15
He uplouded the last time for 8days ago his keyboardsteer? Why he should stop modding?

[2019-01-11 17:47] fdanapfel commented on #15
@hoefti10: looks like this mod is actually the reason why mogli has decided to quit working on his mods, see https://github.com/Mogli12/KeyboardSteer/issues/106#issuecomment-452596956

I would also appreciate it if the shuttle function in this mod could be disabled via the config file, so that people can decide if the want to use the one from Keyboardsteer or the one from the mod.

[2019-01-11 19:31] ZhooL commented on #15
Nun es ist jedem selbst überlassen welche Mods er nutzen möchte. Ich schreibe meinen Mod so, daß er mir den Spielspaß erhöht mit den Dingen, die mir gefallen. Gerne teile ich meine Arbeit mit der Community, aber "so wie der Mod ist". Mir ist keyboardSteer natürlich bekannt, aber ich nutze es nicht. In meinen technischen Möglichkeiten versuche ich dennoch eine maximale Kompatibilität mit dem andere

[2019-01-11 19:32] ZhooL commented on #15
Mit 1.5.1.2 beende ich jetzt auch die Integrationsarbeiten mit keyboardSteer. Die Zurückschau-Kamera funktioniert wieder - das muß reichen.

[2019-01-11 19:32] #15 closed, assigned to ZhooL

[2019-01-11 22:55] Harag9 opened #16 "Shuttle not working with keyboardSteer"
I use the KeyboardSteer mod and been using the space bar for shuttle.

I've just downloaded your latest version as of now (1.5.1.2) and it disables the shuttle to use your version.  Even though the UI works fine and it shows the shuttle change from forward/reverse, when it's in reverse it still goes forward. I've tried it on several tractors now and all act the same.

BTW, Love the new layout, muc

[2019-01-12 08:44] ZhooL commented on #16
Download again now and try out

[2019-01-12 09:13] Amadeo01 opened #17 "Bei mir funktioniert das Skript nicht :-(("
Irgendwie funktioniert die Mod bei mir überhaupt nicht. ---> Traurig. :-((

Ich spiele mit dem Gamepad und habe die Funktionen "Vor- u. Rückwärtsgang" auf die rechte Schultertaste gelegt wie beim keyboardSteer (möchte ich nicht mehr nutzen) zuvor auch. Das Umschalten auf Taste Y.
Der Traktor fährt nur rückwärts und vorwärts nur mit der Einstellung des Tempomaten. Die grüne Markierung springt von v

[2019-01-12 09:20] Harag9 commented on #16
Excellent, I'll download this and try again

EDIT - Just noticed you updated it again 30 mins ago, so downloaded that version just now before launching game - Quick test in game and the shuttle seems to work now with the keyboardSteer mod - Many thanks for sorting this so quickly!

[2019-01-12 09:42] ZhooL commented on #17
Ich kann deine Gamepad Belegung noch nicht ganz nachvollziehen. Schick mir die mal genauer für die folgenden Dinge:
![image](https://user-images.githubusercontent.com/11815468/51071773-cb944080-1656-11e9-90a3-cbef2227cca6.png)

[2019-01-12 11:05] Amadeo01 commented on #17
Ich habe diese Einstellungen vorgenommen.
![gamepad-einstellungen](https://user-images.githubusercontent.com/29040448/51072519-4adb4180-1662-11e9-8879-7c6c0b15888d.jpg)

[2019-01-12 11:10] Amadeo01 commented on #17
Sorry, ich hatte den falschen Button angeklickt und die Fragestellung geschlossen!

[2019-01-12 11:14] Amadeo01 commented on #17
Jetzt nach dem Neustart funktioniert nur noch der Tempomat-Vorwärtsgang und trotz Grün-Fahrtrichtungsmarker auf >Rückwärts< funktioniert dieser Gang nicht mehr.

[2019-01-12 12:36] ZhooL commented on #17
Ah ich glaube Du hast da was falsch verstanden. Es geht nicht "beides". Entweder Du schaltest zwischen vorwärts/rückwärts mit einer Taste (bei Dir Y) um, ODER du aktivierst direkt vorwärts oder direkt rückwärts mit zwei anderen Tasten. Lösche die Gamepad Belegung für "EV: Fahrrichtung vorwärts" und "EV: Fahrrichtung rückwärts"
Und Wendeschaltung an/aus solltest Du auch nicht auf "LT" legen - dann

[2019-01-12 16:58] Amadeo01 commented on #17
Hab' s gerade nach deiner Anleitung ausprobiert und ... es funktioniert bestens! Ich danke dir sehr. :-))
Extrem supertolle Skript- Mod für den bislang doch irgendwie so realitätsfernen LS19.

[2019-01-12 17:36] #17 closed, assigned to ZhooL

[2019-01-12 20:36] #16 closed, assigned to ZhooL

[2019-01-12 23:23] Bigmack73 opened #18 "issue with KBS"
This issue I found while using the cotton havester. I use the keyboard steer mod. When I snap to direction. Then go into reverse, it will start going in circles. Basically it does not go straight back. I hope I explained that ok. And I see that it disabled the shuttle in KBS. The "F" is gone.

[2019-01-13 01:46] spocane opened #19 "Front/Rear Hydraulic up/down is not working with some implements"
The New "Front/Rear Hydraulic up/down" is not working with some implements, from my testing it will turn on/off but will not lower down the following types of equipment:

Balers, Seeders(on/off,up/down does not work with the air cart seeders), Forage Wagons, Rear Mowers(works fine with the NewHolland Disc Bine), and the pull behind Potato and Sugar beet harvesters --Possibly more haven't tested ev

[2019-01-13 07:44] ZhooL commented on #18
Then I'm sorry, but I can't and won't do anything about it. Either use KBS or use my mod (or use both but don't snap backwards). If my Mod is active it will disable kbs shuttle automatically - that's why the "F" is gone.

[2019-01-13 07:44] #18 closed, assigned to ZhooL

[2019-01-13 07:47] ZhooL commented on #19
Well I think it might be correct so. The mod lowers/raises the hydraulics of the main vehicle. It does not lower/raise anything "inside" the attached machinery. But let me debug a bit into it.

[2019-01-13 09:35] hoefti10 opened #20 "Shuttle+Kamarablick"
Moin,
Die Kamera dreht sich auch im Vorwärtsgang nach hinten wenn die Maschine zum stehen kommt, der Rückwärtsgang geht dabei auch kurzzeitig rein.
Die Kamera dreht sich scheinbar die ganze Zeit. Sprich wenn ich den Rückwärtsgang drin habe auf beschleunigen drückte, blicke ich nach vorne. Lasse ich Beschleunigen los dreht sich die Blickrichtung nach hinten.

Edit:
Ich bin ein voll Noob wenn es ums

[2019-01-13 10:22] ZhooL commented on #19
Download the current version 1.6.0.1 and try again please

[2019-01-13 10:24] ZhooL commented on #20
"der Rückwärtsgang geht dabei auch kurzzeitig rein."
Das klingt komisch, denn der kann bei mir nur reingehen, wenn entsprechende Taste gedrückt wird. Die Kamerablickrichtung ist stumpf an die Geschwindigkeit gekoppelt. größer 0 nach vorne schauen, kleiner 0 nach hinten schauen. Unabhängig von gewählten Gängen o.ä.

[2019-01-13 11:02] hoefti10 commented on #20
Hi, zu meinem beschämen ist das "Problem" jetzt weg. Ich habe es jetzt mit der neusten Version getestet , ich hatte die Version davor nicht mehr im Original nur noch die, die ich bearbeitet habe. Damit wollte ich allerding kein Video machen.
nur noch das " der Rückwärtsgang geht dabei kurzzeitig rein." ist noch sichtbar was aber kein wirklich Problem für mich darstellt.
Sorry das ich deine Zeit ge

[2019-01-13 11:46] #20 closed, assigned to nobody

[2019-01-13 16:30] sootysax opened #21 "Conflict with keyboardSteer "Look Backwards""
So the new update no longer automatically turns off the "Look Backwards" option in KeyboardSteer, but when enabled, any time you step on the brake pedal, the camera switches to Look Backwards.  The camera does not Look Backwards when shifting driving direction with EV.

[2019-01-13 18:06] ZhooL commented on #21
I made a minor change to the camera stuff, but this can't resolve your cam-back-on-brake effect. I can't reproduce that and from the code point of view it is even impossible to get that effect. Cam can only switch to back if the vehicle is actually moving backwards.

[2019-01-13 18:30] spocane commented on #19
All the machines I listed are now functioning, at least how i want them to. Thanks for the Fix!

[2019-01-13 18:43] #19 closed, assigned to ZhooL

[2019-01-14 09:48] knuuud opened #22 "Last update broke shuttle on the servers."
The last update broke sync of the mod to server. when playing on server almost everything is reversed and some things are not working. No log entries, only mod loaded is this.

[2019-01-14 12:52] ZhooL commented on #22
will check today evening

[2019-01-14 17:32] ZhooL commented on #22
I can't reproduce :-( singleplayer, multiplayer as host and as client, multiplayer client on dedi server... works all fine for me.

[2019-01-14 17:43] knuuud commented on #22
Hmm 🤔 will try to "reset" config files and than try again. Not sure why it does this, but it is strange that it works fine in SP and than when in MP it flips the controls. If I get same error I will do a screen cap if I can get the input recording working. (haven't used that feature before, but might make it easier for you to see whats going on.)

[2019-01-14 17:58] ZhooL commented on #22
Found it. New version of keyboardSteer. 1.6.0.2 adapts.

[2019-01-14 17:58] #22 closed, assigned to ZhooL

[2019-01-14 17:58] #21 closed, assigned to ZhooL

[2019-01-14 22:25] knuuud opened #23 "Farmer animations when backing up"
When using shuttle the farmer animations for reverse is not working correct. Shift leaver ismoving correctly, so its only the farmer. When backing up the farmer is pressing the brake pedal instead of trottle.

[2019-01-15 05:07] 206airmail opened #24 "Feature question"
Is it possible to make the vehicles to where they roll if they are on a hill without the parking brake on?
Thank you so much for this mod! I used drive control all the time in 17, and it's nice to have something to replace it with!

[2019-01-15 06:52] ZhooL commented on #23
Well I won't fix that :-)

[2019-01-15 06:52] #23 closed, assigned to ZhooL

[2019-01-15 07:19] knuuud commented on #23
It was working on earlier versions, but if thats the attitude I guess I will have to use keyboardsteer as he has allready fixed that issue. ;)

[2019-01-15 07:44] ZhooL commented on #23
go for it :-)

[2019-01-15 14:50] Mogli12 opened #25 "Kompatibilität mit KeyboardSteer"
Hallo,

Hier mein Vorschlag. Ich habe diese Issue und eins in KeyboardSteer angelegt. https://github.com/Mogli12/KeyboardSteer/issues/118

Hier können wir die notwendigen Änderungen und die abgestimmten Versionsnummer austauschen. Mein erster Schwung von Anpassungen ist in https://github.com/Mogli12/KeyboardSteer/commit/05b7d5d8f73234e3a2a280943f8814945cde7dec.

Gruß, Stefan

[2019-01-16 17:32] ZhooL opened #26 "Frontlader nicht mehr kippbar"
"Mir ist gerade aufgefallen, dass ich den Frontlader nicht mehr kippen kann - nehm ich den mod raus, dann geht alles - ist er drinn, dann gehen die FL am Schlepper nicht, Radlader etc. funktionieren weiter ... "

[2019-01-16 22:10] denut opened #27 "request fonction"
hello

first you mod is verry god !!!

but have a sugestion

for alt +2 an alt + 4 can you implement the plow rotation fonction on the same keys that the PTO?

thank's

[2019-01-16 22:54] Bigmack73 opened #28 "shuttle hud disappeared"
got the new update and the hud is gone

[2019-01-17 07:13] ZhooL commented on #28
Are you using keyboardSteer aswell ? Then it's normal. EVs shuttle will disable itself due to favor of KS. You might press "KeyPad /" to reset the config and a warning text should appear presenting you options what you can do.

[2019-01-17 07:13] #28 closed, assigned to ZhooL

[2019-01-17 07:16] ZhooL commented on #27
Thanks for your feedback. Unfortunately I can't build-in your request. You still need another key/button to operate the equipment.

[2019-01-17 07:16] #27 closed, assigned to ZhooL

[2019-01-17 09:01] Mogli12 commented on #25
Hallo,

ich überlege gerade, KeyboardSteer in 2 Mods zu zerschlagen. Eventuell reaktiviere ich dazu dann doch noch GearboxAddon, aber mit stark eingeschränkter Funktionalität. Shuttle Control wäre dann auch im anderen Mod. Wie wollen wir uns da synchronisieren?

Gruß,
Stefan

[2019-01-17 11:53] ZhooL commented on #25
Hi,

gerne. Ich würde meinerseits weiterhin auf Shuttle Control verzichten, wenn eins von Dir erkannt wird (es sei denn der User schaltet es aktiv bei dir aus und bei mir an). Ich nehme mal an, die Shuttle-Funktionalität steckt/bleibt bei Dir in FS19_VehicleControlAddon? Ich halte dann Ausschau nach Funktionen bei Dir, woran ich den Shuttle-Status erkennen kann. Wenn Du auch Diffs und Hydraulik be

[2019-01-17 12:00] Mogli12 commented on #25
Halo Mario,

ich habe die neue Methode self:vcaExternalGetShuttleCtrl() angelegt. Du brauchst also nicht nachschauen, ob der Mod geladen ist, sondern nur
[code]
Ich habe auch nochmal alle Funktionen unter dem alten Name (z.B. ksmExternalSetShuttleCtrl) bei self eingefügt.

Gruß, Stefan

[2019-01-18 08:53] mngrazy opened #29 "Request"
servus ZhooL

frage zwecks config file

wäre es möglich die Text Colors zu ändern per config ?
und eventuell txtBold true/false

für mich persönlich zielt die einstellung auf die RPM und Temp anzeige , die beiden würd ich gern per config ändern und nicht immer in der lua rumfummeln ;)

grüsse grazy

[2019-01-18 13:24] Harag9 commented on #24
That would be a great enhancement, however i'm using the Keyboard steer and recently the parking break has vanished as KBS  has it's own shuttle functions now.

[2019-01-19 17:35] sootysax commented on #25
so whats the future of EV now that Mogli has 'quit modding for FS', again (it must be the 20th time).  Are you going to re-incorporate the shuttle control back into EV?

[2019-01-20 10:33] Harag9 opened #30 "KeyboardSteer"
Not an issue, just a question as I don't know where I can place a comment.

Now that KeyboardSteer has officially been "archived", will you by any chance be taking over development of it and combining it with yours to make one mod?

[2019-01-20 11:13] ZhooL commented on #30
No, I won't do that. I'm not interested in doing anything (more) with cameras in the game, neither with gears and gearboxes. Sorry.

[2019-01-20 11:13] #30 closed, assigned to ZhooL

[2019-01-20 12:39] Mogli12 commented on #25
Hallo Mario,

Ich denke, dass wir das jetzt schließen können.

Viele Grüße,
Stefan

[2019-01-20 12:39] #25 closed, assigned to ZhooL

[2019-01-20 13:49] ZhooL commented on #25
agreed :-)

[2019-01-22 18:34] ZhooL opened #31 "dedi warning log"
Load mod: TSX_EnhancedVehicle (Version: 1.6.3.0) (Hash: 00b12b8dd93feb339ffa62f525982629) Warning: Duplicate l10n entry 'EV_KS_warning5' in 'D:/home/sid_599734/farmingSim_2019/profile/mods/TSX_EnhancedVehicle/modDesc_l10n_en.xml'. Ignoring this defintion.

[2019-01-24 00:12] priusboy999 opened #32 "Request"
Zhool, great mod my friend. Is there any plans on adding a realist fuel consumption feature to the mod?

[2019-01-24 07:35] ZhooL commented on #32
Sorry, I'm not planning to add any more features to this mod.

[2019-01-24 07:35] #32 closed, assigned to nobody

[2019-01-24 07:35] ZhooL commented on #31
fixed in 1.6.3.1

[2019-01-24 07:35] #31 closed, assigned to ZhooL

[2019-01-27 00:12] Eloff7 opened #33 "Hud clash with work rpm"
Hud clashes with work rpm hid position. Is it possible to write something in so that it switches the work rpm hud of?

[2019-01-27 09:32] xCrazyDogx commented on #33
Go to :
My Documents\My Games\FarmingSimulator2019\modsSettings\TSX_EnhancedVehicle
Open up with notepad or notepad++ or similar
TSX_EnhancedVehicle_v1.xml

Look for the line starting with
<rpm enabled="true"

set it to
<rpm enabled="false"

Do not remove anything behind it, only set true to false.
Save it and rpm is gone.
it will not show ingame unless you press KeyPad * to reload XML config from

[2019-01-27 11:52] ZhooL commented on #33
thanks for helping out :-)

[2019-01-27 11:52] #33 closed, assigned to ZhooL

[2019-01-27 16:32] Eloff7 commented on #33
Thank you for your reply. any chance that you would add the  work rpm function into the TSX mod at some stage, then can get rid of work rpm mod

[2019-01-30 19:08] fdanapfel opened #34 "Warning: Duplicate l10n entry 'EV_KS_warning5' ..."
The mod produces the following warning in the log.txt every time it is being loaded:
...
Load mod: TSX_EnhancedVehicle (Version: 1.6.3.0) (Hash: 00b12b8dd93feb339ffa62f525982629)
Warning: Duplicate l10n entry 'EV_KS_warning5' in '/Users/user/Library/Application Support/FarmingSimulator2019/mods/TSX_EnhancedVehicle/modDesc_l10n_en.xml'. Ignoring this defintion.
...

Looking at the modDesc_l10n_en.x

[2019-01-30 20:51] ZhooL commented on #34
duplicate of #31

[2019-01-30 20:51] #34 closed, assigned to ZhooL

[2019-02-10 18:04] Wadeeb opened #35 "Request: Air tank level request"
Fantastic mod. Really brings all the hidden stats to the game. Is there a way to add the air tank fill level to the display ? once again thanks for the mod

[2019-02-24 17:54] JeffM252 opened #36 "Shuttle Control"
Hello, I'm trying to help resolve an Issue with a mod and shuttle control. The mod I'm speaking of is a cotton module truck created by way2drunk2walk and can be found [here](https://www.nexusmods.com/farmingsimulator19/mods/41?tab=description&BH=0) If you look under the posts section you'll see a conversation I and him have had and he doesn't seem to understand the problem as I believe it lies on

[2019-03-24 15:18] spocane opened #38 "Issue With non Standard Vehicle Types"
If the vehicle is not of standard in game type, the Enhanced Vehicle Specialization does not work correctly. Is it possible to make it work with all vehicle types?

Thanks.

[2019-03-24 16:11] spocane commented on #38
Closing Issue, It seems that if you Change the Mod Name, it breaks this Function, Everything else works but doesnt work when the Vehicle Type is not Standard.

[2019-03-24 16:11] #38 closed, assigned to nobody

[2019-03-26 16:53] fdanapfel commented on #31
Where can version 1.6.3.1 be found? Because the current version available in the GitHub repo still produces this warning.

[2019-04-07 03:35] Bruid3 opened #39 "Text flickers and sound stutters"
I don't know if it is an issue but in my current game when a Vehicle on a Course-play route is stuck making a decision some of the text in the enhanced Vehicle HUD components flickers and the sound stutters until the Driver is stopped.
It may be nothing to do with this awesome Mod.

[2019-04-09 12:44] Roby1164 opened #40 "Problem in MP"
As written on modHoster, but without answering, After the last FS update, we are having problems on the MP, that is, every time we re-enter the game, all means are with the commands, back and forth, inverted .... Tried to remove the mod, save, and put it back, but without solving the problem ...

[2019-04-09 12:44] Roby1164 commented on #40
In SP, it works perfectly

[2019-04-14 06:42] ZhooL commented on #24
I'm no longer working on this mod. Sorry - no new features.

[2019-04-14 06:42] #24 closed, assigned to ZhooL

[2019-04-14 06:43] #26 closed, assigned to ZhooL

[2019-04-14 06:43] ZhooL commented on #29
I'm no longer working on this mod. Sorry - no new features.

[2019-04-14 06:43] #29 closed, assigned to nobody

[2019-04-14 06:43] ZhooL commented on #35
I'm no longer working on this mod. Sorry - no new features.

[2019-04-14 06:43] #35 closed, assigned to nobody

[2019-04-15 16:05] WolfmoonCT opened #41 "Change of temperature"
Is there a way to change the temperature from Celsius to Fahrenheit?  I couldn't find anything mentioning it.

[2019-04-17 17:41] ZhooL commented on #41
Sorry not possible and I don't plan to add it as a new feature.

[2019-04-17 17:41] #41 closed, assigned to nobody

[2019-04-17 22:33] cschroer opened #44 "Hide controls form help window?"
Hey,

love your mod, we are using it a lot. Quick question here: If you bind shuttle control and such to a Gamepad/Wheel button, it's always visible within help window on the top left side. Is there any way to hide them from controls?

[2019-05-01 14:07] XGrimHarlequinX opened #45 "Shuttle Control?"
I may be missing a setting, but shuttle control doesn't seem to be working.  Neither my steering wheel nor my space bar seems to have any effect on changing drive direction.  I can turn shuttle control off (which disables all movement), but when turned on, nothing.  All other functions seem to work fine.  Is there a setting I need to toggle to enable drive direction?

[2019-05-01 14:24] KITT3000 commented on #45
@XGrimHarlequinX In some types of vehicles you need to use separate buttons for driving back and forth, this option does not work with one button I do not know why, but I had a problem with it in the Fendt Ideal 9T and only after I assigned the keys to separate directions I could change this direction driving.

[2019-05-01 15:12] XGrimHarlequinX commented on #45
@KITT3000 Thanks, I'll fiddle with it to see if I can get it working.  Left wheel paddle, reverse; right wheel paddle, forward might work then.  I'll let you know.

[2019-05-02 08:46] phwoelfel commented on #45
You probably turned it on and what disables the movement is the parking brake ;-)
The first time you activate it the parking brake is active (there is a red dot in the center of the two arrows). There is a seperate keybinding for the parking brake.

[2019-05-02 20:12] XGrimHarlequinX commented on #45
@phwoelfel That was it!  Funny how something so simple can cause such a headache.

[2019-05-05 10:33] HadesDurin opened #46 "Ad Blue addon from Modhub"
I come across Ad Blue on Modhub (https://www.farming-simulator.com/mod.php?lang=de&country=de&mod_id=129833&title=fs2019)
But it conflict with the Hud icons:
http://prntscr.com/nkm3t9

I use the latest 1.6.3.1 Version of this Mod, maybe you can move the tankhud a bit so that there is no overlay...

[2019-05-20 20:46] Bandesss opened #47 "Vehicle direction"
Hello in the MP we have the problem that we benutezn your Mod and de VCA. I'm the only one with a keyboard .... In the single player I can switch with the space bar. But not in the MP ... it changes the arrow from forward to reverse but still I drive backwards only with S.
In Singel Player I drove backwards after switching with the space bar also backward with W ....
What can that be, thank you Ba

[2019-05-21 15:42] Bandesss commented on #46
You can edit.
MyGames/Farming Simulator. Modsettings
Themen there Code by Fuel you the right Position to higher.
Edit can the file with Notepad++

Here a Pic
![1](https://user-images.githubusercontent.com/50829319/58114667-8bdaf800-7bf8-11e9-9b5d-daee3bd6ab05.JPG)

[2019-05-21 19:12] Bandesss commented on #44
In the XML file by Modsettings. „False“ by Key Help

[2019-06-05 10:17] cwattyeso commented on #46
I can't even get the DEF Ad Blue Hud Icons to appear in my game if I have the Enhanced Vehicle Mod Installed and Active.

[2019-07-15 12:08] Bandesss commented on #47
Hallo mit der Alten Version   <version>1.6.1.0</version> funktioniert es.
Wie kann ich es in der neuen Version ändern damit es funktioniert?
Gruss

[2020-05-04 16:01] #36 closed, assigned to nobody

[2020-05-04 16:01] #39 closed, assigned to nobody

[2020-05-04 16:01] #40 closed, assigned to nobody

[2020-05-04 16:01] #44 closed, assigned to nobody

[2020-05-04 16:01] #45 closed, assigned to nobody

[2020-05-04 16:01] #46 closed, assigned to nobody

[2020-05-04 16:01] #47 closed, assigned to nobody

[2020-06-01 21:14] Pyrjo opened #50 "Shuttle shift + GPS mod"
Hi, I have just downloaded and tested this mod, it works fine on my localy hosted server and will soon try upload and run it on my dedicated server.

  But accidently I found a thing right away worth mention. I have the GPS mod installed, and when that mod holds my heading (stearing only) the direction arrows go gray and its no longer functional. No difference from having shuttle shift on or off.

[2020-06-04 13:41] Bandesss commented on #50
Das Ding ist tot

[2020-06-04 15:19] Pyrjo commented on #50
I found another perfect mod that combines all of this that i was looking for, Transmission. GPS/heading, Lower enginebrake, Adaptive stearing and best of all, AWD control with manual or Tracktion controll of spinning wheels. But maybe this mod will come to top again some day.

[2020-06-05 05:36] Bandesss commented on #50
Von welchem Mod redest du ?

[2020-06-05 16:42] Pyrjo commented on #50
The one you also interested in i saw. VehicleControlAddon. Das hast alles.

[2020-06-05 19:09] #50 closed, assigned to nobody

[2020-10-24 15:22] Bandesss opened #52 "Geht nicht"
Hallo zusammen, wer auch immer den Mod updatet schaut mal das er wieder mit VCA zusammen geht.
Die letzte Version wo ging mit dem W vorwärts und rückwärts war, 1.6.1.0

Bitte schaut mal danach.
Gruss
#Modderloben

[2020-11-07 17:59] matty2123 opened #53 "Can’t release handbrake"
Hello I can’t release handbrake it’s seems after the new update I have installed latest version of the mod

[2020-11-07 19:42] ZhooL commented on #53
Handbrake is working just fine. Check for conflicting mods. Check for other mods using the "end" key.

[2020-11-07 19:42] #53 closed, assigned to nobody

[2020-11-07 20:44] matty2123 commented on #53
It was working fine before the update someone else I know Is having same issue

[2020-11-13 16:15] #52 closed, assigned to nobody

[2020-11-13 16:16] ZhooL commented on #52
Die beiden Mods arbeiten generell nicht gut zusammen, da sie ähnliche Dinge an der Steuerung modifizieren. Achte daher - wie in der Doku beschrieben - drauf, dass nur ein Mod die Kontrolle hat.

[2020-12-07 19:36] J0mpen opened #54 "Hud not showing Adblue"
I am not getting Enhanced Vehicle to show the fillevel for adblue, anyone know why?
![missing adblue hud](https://user-images.githubusercontent.com/75639604/101396270-5cb7d480-38cb-11eb-8770-4ddbb59959e6.png)

![enhancedvehicle_v1](https://user-images.githubusercontent.com/75639604/101396552-c932d380-38cb-11eb-9e94-2ee1f2ce0b23.png)

Thanks for the help.

[2020-12-10 09:10] Bandesss commented on #54
Hallo oben das def ist AdBlue

[2020-12-14 22:08] J0mpen commented on #54
The problem is that Diesel is shown as blue. Adblue/def is not shown by enchanced vehicle.

[2021-03-20 12:42] Aim400kgp opened #55 "Problem TSX"
Hi why am i not displaying the clocks all on the dedicated server mod TSX_EnhancedVehicle in fs 19.
I only have a black dot nothing else but i see what i will send in the picture ?
Conntact my  gmail- przemekbarczak61@gmail.com

https://sharemods.com/a9fndvawjsui/fsScreen_2021_03_20_13_40_17.png.html